<h1 id="tableLabel">Menu</h1>

<p>What do you want to eat?</p>

<p *ngIf="!menuItems"><em>Loading...</em></p>

<select (change)="restaurantSelected($event)" >
  <option *ngFor="let restaurant of restaurants" value="{{restaurant.id}}">{{restaurant.name}}</option>
</select>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="menuItems" >
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menuItem of menuItems">
      <td>{{ menuItem.num }}</td>
      <td>{{ menuItem.name }}</td>
      <td>{{ menuItem.description }}</td>
      <td>{{ menuItem.price }}</td>
    </tr>
  </tbody>
</table>
