[Unit]
Description=Azure Relay Bridge
  
[Service]
Type=notify
ExecStart=/usr/share/azbridge/azbridge --svc
    
[Install]
WantedBy=multi-user.target